article.nolayout-contain.scroll-snap.light
  section.layer.layer-hero
    section.layout.layout-enlarge.layout-contain
      .layer-content.layout-padding-horz-left
        h5.style-bold
          | We help people find ideal locations to thrive on and relax in while learning and exploring history, culture, and architecture.
    .layer-image.layer-hero-image
      img(data-depth='10', data-dir='down', src='https://images.unsplash.com/photo-1525115386758-772cf1329238?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80')
section.layout.layout-enlarge.layer.layer-center-box.scroll-snap.layout-contain
  article.layout-contain
    .layer-header
      h1.layer-title(data-depth='8', data-dir='down', data-max='30') Our Work
    .layer-content
      h5.style-bold(data-depth='8', data-dir='up', data-max='30')
        | We help many people find a place of beauty and relaxation. We have many different locations under out belt.
    .layer-footer
      a.layer-scroll.style-uppercase
        | Scroll
section.layout-shorten.layer.scroll-snap.layer-grey
  article.layout-contain.layout-padding-horz-left
    section.layout-row
      section.layout-col-6
        section.layer-tile.layer-image
          a(href='https://unsplash.com/@jaspervandermeij?utm_medium=referral&utm_campaign=photographer-credit&utm_content=creditBadge', target='_blank')
            img.layer-tile-img(data-depth='5', src='https://s3.amazonaws.com/blog.invisionapp.com/uploads/2018/07/westworld-hero.jpg')
            section.layer-tile-overlay.layer-tile-overlay-20deg
            section.layer-tile-footer
              | Jasper van der Meij
      section.layout-col-6
        section.layer-tile
          a(href='https://unsplash.com/photos/vI-uFNolpLA', target='_blank')
            img.layer-tile-img.load-img(data-depth='5', src='https://app-leader.herokuapp.com/images/waterfall.jpg', alt='An iamge of the edge of a hill.')
            section.layer-tile-overlay.layer-tile-overlay-130deg
            section.layer-tile-footer Annie Spratt
      section.layout-col-3
        section.layer-tile
          a(href='https://unsplash.com/@jaspervandermeij?utm_medium=referral&utm_campaign=photographer-credit&utm_content=creditBadge', target='_blank')
            img.layer-tile-img(data-depth='5', src='https://s3.amazonaws.com/blog.invisionapp.com/uploads/2018/07/westworld-hero.jpg')
            section.layer-tile-overlay.layer-tile-overlay-20deg
            section.layer-tile-footer
              | Jasper van der Meij
      section.layout-col-3
        section.layer-tile
          a(href='https://unsplash.com/photos/vI-uFNolpLA', target='_blank')
            img.layer-tile-img.load-img(data-depth='5', src='https://app-leader.herokuapp.com/images/waterfall.jpg', alt='An iamge of the edge of a hill.')
            section.layer-tile-overlay.layer-tile-overlay-130deg
            section.layer-tile-footer Annie Spratt
      section.layout-col-3
        section.layer-tile
          a(href='https://unsplash.com/@jaspervandermeij?utm_medium=referral&utm_campaign=photographer-credit&utm_content=creditBadge', target='_blank')
            img.layer-tile-img(data-depth='5', src='https://s3.amazonaws.com/blog.invisionapp.com/uploads/2018/07/westworld-hero.jpg')
            section.layer-tile-overlay.layer-tile-overlay-20deg
            section.layer-tile-footer
              | Jasper van der Meij
      section.layout-col-3
        section.layer-tile
          a(href='https://unsplash.com/photos/vI-uFNolpLA', target='_blank')
            img.layer-tile-img.load-img(data-depth='5', src='https://app-leader.herokuapp.com/images/waterfall.jpg', alt='An iamge of the edge of a hill.')
            section.layer-tile-overlay.layer-tile-overlay-130deg
            section.layer-tile-footer Annie Spratt
      section.layout-col-6
        section.layer-tile
          a(href='https://unsplash.com/@jaspervandermeij?utm_medium=referral&utm_campaign=photographer-credit&utm_content=creditBadge', target='_blank')
            img.layer-tile-img(src='https://s3.amazonaws.com/blog.invisionapp.com/uploads/2018/07/westworld-hero.jpg')
            section.layer-tile-overlay.layer-tile-overlay-20deg
            section.layer-tile-footer
              | Jasper van der Meij
      section.layout-col-6
        section.layer-tile
          a(href='https://unsplash.com/photos/vI-uFNolpLA', target='_blank')
            img.layer-tile-img.load-img(data-depth='5', src='https://app-leader.herokuapp.com/images/waterfall.jpg', alt='An iamge of the edge of a hill.')
            section.layer-tile-overlay.layer-tile-overlay-130deg
            section.layer-tile-footer Annie Spratt
    a(href='/')
      | More 
      i.icon chevron_right
section.layout.layer.scroll-snap.layer-darkgrey.layer-client.light
  article.layout-contain.layout-padding-horz
    h3.style-capital Clients
    section.layout-row
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
    section.layout-row
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
    section.layout-row
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
    section.layout-row
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')
      section.layout-col-3
        img.layer-image.layer-client-img(data-depth='5', src='https://d2tcm8odh6x6oa.cloudfront.net/app/uploads/2018/11/13111240/ClientLogos_BBC.png')