footer.footer.layer-black.scroll-snap.light
  section.layout
    article.layout-contain.layout-padding-horz-left-small.layout-margin-vert-large
      section.layout-row
        section.layout-col-7
          section.layout-row
            section.layout-col-6
              span.footer-type Phone
              .footer-content 901-657-2779
            section.layout-col-6
              span.footer-type Email
              .footer-content letstravel@travel.com
          section.layout-row
            section.layout-col-6
              span.footer-type Address
              .footer-content
                | 9901 Alabama 5, Brent, AL 35034, USA
            section.layout-col-6
              span.footer-type Social
              .footer-content
                a(href='/') Tw
                a(href='/') Fb
                a(href='/') Git
                a(href='/') Ig
        section.layout-col-5.layer-title
          h1.style-capital.layout-padding-horz-right-small
            | let
            span.style-red '
            span.style-lowercase s
            br
            |  Travel
  section.layout-shorten-horz.layout-padding-vert
    section.layout-contain
      section.layout-row
        section.layout-col-4.layout-left
          | © 2019 - Okiki Ojo
        section.layout-col-8.layout-right.style-right.legal
          a.style-capital(href='/') privacy policy
          br
          a.style-capital(href='/') terms and conditions