header.header
  nav.navbar.navbar-fixed
    article.navbar-layout
      section.navbar-main
        ul.navbar-list
          li.navbar-link
            a(href='/') About Us
          li.navbar-link
            a(href='/') Mission
          li.navbar-link
            a(href='/') Portfolio
          li.navbar-link
            a(href='/') Contacts
      section.navbar-foot
        a.icon-btn.navbar-menu
          i.mi.icons menu
  nav.navbar.navbar-fixed.nav2
    article.navbar-layout
      section.navbar-main
        ul.navbar-list
          li.navbar-link
            a(href='/') About Us
          li.navbar-link
            a(href='/') Mission
          li.navbar-link
            a(href='/') Portfolio
          li.navbar-link
            a(href='/') Contacts