main.main
  section.layout.layout-enlarge.layer.layer-intro.scroll-snap
    article.layout-contain.layout-contain-large
      .layer-image
        img(data-depth='10', data-ease='0.03', src='https://images.unsplash.com/photo-1500881263786-ad74c00b9e60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80')
      .layer-header.layout-contain
        h1.layer-title.style-capital.style-center
          | let
          span.style-red '
          span.style-lowercase s
          |  Travel
      .layer-footer
        a.layer-scroll.style-uppercase
          | Scroll
  
  case page
    when  "explore"
      include ../content/events.pug 
    default
      include ../content/index.pug