doctype html
html(lang="en")
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="Cache-Control" content="max-age=30 days")
    meta(charset='UTF-8')
    
    link(async='', rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css')
    link(async='', rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fugaz+One|Montserrat:500,600|Playfair+Display:900')
    link(rel='stylesheet' href='./css/main.min.css')
    
    title Let's Travel
    
    meta(content='website', property='og:type')
    meta(content='Let\'s Travel', property='og:title')
    meta(content="A touring website containing a list of exciting adventures waiting to be explored. It's is one of a series of websites built by Okiki Ojo for clients.", property='og:description')
    meta(name='description', content="A touring website containing a list of exciting adventures waiting to be explored. It's is one of a series of websites built by Okiki Ojo for clients.")
    meta(name='keywords', content='Travel, site, web, node')
    meta(name='copyright', content='Copyright &copy; 2018 Okiki Ojo, Under a GNU Licence.')
    meta(name='author', content='Okiki Ojo')
    
    <!--[if IE]-->
      // link(rel='shortcut icon' href='./images/icon/icon.ico')
    <!--<![endif]-->
    
    // link(rel='icon' sizes='512x512' type='image/png' href='./images/icon/icon-512.png')
    // link(rel='icon' sizes='256x256' type='image/png' href='./images/icon/icon-256.png')
    // link(rel='icon' sizes='128x128' type='image/png' href='./images/icon/icon-128.png')
    // link(rel='icon' sizes='72x72' type='image/png' href='./images/icon/icon-72.png')
    // link(rel='icon' sizes='57x57' type='image/png' href='./images/icon/icon-57.png')
    // link(rel='icon' sizes='32x32' type='image/png' href='./images/icon/icon-32.png')
    // link(rel='icon' sizes='16x16' type='image/png' href='./images/icon/icon-16.png')
    // link(rel='icon' sizes='any' type='image/svg+xml' href='./images/icon/icon.svg')
    // link(rel='shortcut icon' type='image/x-icon' href='./images/icon/icon-512.png')
    // link(content="https://app-lets-travel.herokuapp.com/" rel="canonical")
    // link(rel="preconnect" async href="//app-lets-travel.herokuapp.com/")
    // link(rel="preconnect" async href="//unsplash.com/")
  body
    include ../components/header.pug
    include ../components/main.pug
    include ../components/footer.pug
    script(src='./js/jquery.min.js')
    script(src='./js/main.min.js')
